<a href="https://colab.research.google.com/github/ArchitaKh02/GENERATIVE.AI-EXP/blob/main/GEN_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math

num = float(input("Enter a number: "))


if num >= 0:
  sqrt_num = math.sqrt(num)
  print(f"The square root of {num} is {sqrt_num}")
else:
  print("Cannot calculate the square root of a negative number")

Enter a number: 4
The square root of 4.0 is 2.0

In [2]:

a = input("Enter the first value (a): ")
b = input("Enter the second value (b): ")

print("\nBefore swapping:")
print("a =", a)
print("b =", b)


a, b = b, a

print("\nAfter swapping:")
print("a =", a)
print("b =", b)

Enter the first value (a): 4
Enter the second value (b): 6

Before swapping:
a = 4
b = 6

After swapping:
a = 6
b = 4

In [3]:

num = int(input("Enter an integer: "))


if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter an integer: 4
The number is positive.

In [4]:
n=int(input())

if n%2==0:
  print("Even:",n)
else:
  print("Odd:",n)

5
Odd: 5

In [5]:
num = int(input("Enter a number to find its factorial: "))


if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0 or num == 1:
    print("The factorial of", num, "is 1.")
else:
    factorial = 1
    for i in range(2, num + 1):
        factorial *= i
    print("The factorial of", num, "is", factorial)

Enter a number to find its factorial: 5
The factorial of 5 is 120

In [6]:
import pandas as pd


data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [22, 25, 30, 19],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

print("Age attribute:")
print(df['age'])

print("\nPeople with age 25 or above:")
print(df[df['age'] >= 25])

Age attribute:
0    22
1    25
2    30
3    19
Name: age, dtype: int64

People with age 25 or above:
      name  age         city
1      Bob   25  Los Angeles
2  Charlie   30      Chicago